* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  a {
    text-decoration: none;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

html, body, #root {
  background: #fcfbf9;
}